.sayHello {
   border: 1px solid #B9B9B9; 
   padding: 20px;
   margin: 15px;
   color: #333;
   position: relative;
   box-shadow: 4px 4px 10px #A5A5A5;
}

.sayHello h4{
   color:#FF329A;
   margin: 0;
}
.sayHello p{
   color:#aaa;
   font-size: 13px;
   padding: 5px 30px;
}
button{
   position: absolute;
   bottom: 0;
   width: 100px;
   right: 0;
   display: block;
   background-color: #8627D1;
   border: 0;
   padding: 5px 10px;
   color: #fff
}
